* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: no-repeat center center fixed;
  background-size: cover;
  font-family: "Mukta",sans-serif;
  background-color: rgb(248,248,248);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1%;
  font-size: small;
  color: black;
}

.justify-content-center {
  justify-content: center !important;
}

.d-flex {
  display: flex !important;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#suggestions {
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 1;
  border: 1px solid lightgrey;
}

#weather-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(242,243,247);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
  width: 300px;
  height: 500px;
  color: black;
  box-shadow: 1px 5px 5px 3px rgba(171, 171, 176, 0.314);
}

.weather-card {
  text-align: center;
  width: 300px;
  height: 425px;  
}

.name {
  text-align: center;
  padding: 10%;
  font-size: 35px;
  line-height: 1.1;
  
}

.time {
  text-align: center;
  font-weight: 300;
  font-size: 25px;  
}

.temperature {
  position: relative;
  line-height: 1;
  font-size: 40px;
  padding: 10%;
}

.condition {
  padding: 10px;    
  font-size: 30px;
}

.icon {
  overflow-clip-margin: content-box;
  overflow: clip;
  width: 100px;
  height: 100px;
  padding: 10px;
}


.button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.button:hover {  
  color: white;
}


#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #141313;
  border-top: 3px solid #b6b5b5;
  border-radius: 100%;
  will-change: transform;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}