/* Eric Meyer CSS reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


/* positioning */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: no-repeat center center fixed;
  background-size: cover;
  background-color: rgb(248, 248, 248);
  font-family: "Mukta", sans-serif;
}

ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 1%;
  font-size: small;
  color: black;
}

.favoritList {
  float: right;
  font-size: medium;
  font-weight: bold ;
}

#city-search {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#suggestions {
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 1;
  border: 1px solid lightgrey;
}

#weather-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(242, 243, 247);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
  width: 800px;
  height: 300px;
  color: black;
  box-shadow: 1px 5px 5px 3px rgba(171, 171, 176, 0.314);
}

#weather-card {
  text-align: center;
  width: 500px;
  height: 300px;
  margin: 2%;
  border-radius: 5%;
}

#details-card {
  position: absolute;
  width: 200px;
  top: 10%;
  right: 3%;
  text-align: center;
  font-family: "Bahnschrift Light", sans-serif;
}

.temp {
  font-size: 30px;
}

.condition,
.cityname {
  font-size: 25px;
}

.cityname,
.time,
.temp,
.condition {
  line-height: 1.5;
}

button {
  position: absolute;
  top: 85%;
  right: -3%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(248, 248, 248);
  color: rgb(86, 86, 90);
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

button:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: #C0C0C0;
}